.bgimag{
<<<<<<< HEAD
    background-image: url('./containers/images/background2.jpg'); /* The image used */
    
  height: 700px;/* You must set a specified height */
=======
    background-image: url("./containers/images/dog-wallpaper-14.jpg"); /* The image used */

    
  height: 90vh;/* You must set a specified height */
>>>>>>> e8342a9e1ec1d484b8f789cb6040ec8a08bda2ff
  
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  
  
}
